body {
  font-family: monospace;
  max-width: 50%;
  padding: 0 1em;
}

img {
  max-width: 100%;
  border: 0;
}

table {
  width: 100%;
}

td {
/*   border-bottom: 1px solid #eee; */
  padding: 0.2em 0.5em 0.2em 0;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

footer {
  border-top: 1px solid #ccc;
  margin-bottom: 18px;
  margin-top: 18px;
  opacity: 88%;
  padding-top: 17px;
}
