<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{site.baseurl}}/code.css">
    <link rel="stylesheet" href="{{site.baseurl}}/blog.css">

    <link rel="shortcut icon" href="/favicon.png">
    <title>
    {% if page.title %}
      {{page.title}} - @nikosbaxevanis
    {% else %}
      @nikosbaxevanis
    {% endif %}
    </title>
  </head>

  <body>
    <div>
      {{content}}
    </div>
  </body>
</html>
