<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{site.baseurl}}/style.css">
    <title>{{page.title}} - {{site.author.name}}</title>
  </head>
  <body>
    <div>
      <div>
        <img style="max-width: 11%;" src="https://raw.githubusercontent.com/moodmosaic/kapasari.art/master/20220117_153533198_008.jpg" alt="logo">
        <h1>{{page.title}}</h1>
        {{content}}
      </div>
      <div>
        <footer>
          <table>
            <tbody>
              <tr>
                {% if page.date %}
                  <td>© {{ page.date | date: "%Y-%m-%d" }}
                    <a href="https://nikosbaxevanis.com">{{ site.author.name }}</a>
                  </td>
                  <td style="text-align:right">
                    <a href="/">Read more posts →</a>
                  </td>
                {% else %}
                  <td>© 2011 - 2023
                    <a href="https://nikosbaxevanis.com">{{ site.author.name }}</a>
                  </td>
                {% endif %}
              </tr>
            </tbody>
          </table>
        </footer>
      </div>
      {% if page.date %}
        <div>
          <script src="https://utteranc.es/client.js"
            repo="moodmosaic/blog"
            issue-term="title"
            label="✨💬✨"
            theme="github-light"
            crossorigin="anonymous"
            async>
          </script>
        </div>
      {% endif %}
    </div>
  </body>
</html>
