<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{site.baseurl}}/code.css">
    <link rel="stylesheet" href="{{site.baseurl}}/site.css">
    <title>{{page.title}} - {{site.title}}</title>
  </head>
  <body>
    <div>
      <h2 style="margin-bottom: 0;">{{ page.title }}</h2>
      {% if page.date %}
      <div>{{ page.date | date_to_string }}, {{ site.author.name }}</div>
      {% endif %}
      <div>{{content}}</div>
      <div>
        <span style="float: right;"><a href="https://github.com/moodmosaic/blog/blob/master/{{page.path}}">Edit this page</a></span>
        <br>
      </div>
    </div>
  </body>
</html>
