---
layout: basic
---

<div class="page-image">
  <p>
    <img src="https://nikosbaxevanis.com/images/1500x500-{{page.id-image}}.jpg"
      alt="Random image taken from https://www.instagram.com/nikosbaxevanis">
  </p>
</div>

<div class="page-words">
  <h2 class="page-title">
    {{ page.title }}
  </h2>
  <span>
    {{ page.date | date_to_string }} &ndash;
  </span>
  <i>
    {% for tag in page.tags %}
      <a class="tags" href="/tags/#{{tag | downcase}}">
        #{{tag | downcase}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
  </i>
  <div>
    {{content}}
  </div>
</div>

<div class="page-twitr">
  <br>
  <h2>Have feedback?</h2>
  <p>
    You can discuss this post on <a href="https://twitter.com/nikosbaxevanis">Twitter</a>, and propose changes on <a href="https://github.com/moodmosaic/blog/blob/master/{{page.path}}">GitHub</a>.
  </p>
</div>
