---
layout: basic
---

<div class="meta">
  <a href="/">Blog</a>
  <code>&#x203A;</code>
  {% for tag in page.tags %}
    <a class="tags" href="/tags/#{{tag | downcase}}">
      #{{tag | downcase}}</a>{% unless forloop.last %} <code>&#x203A;</code>{% endunless %}{% endfor %}
</div>

<h2>{{page.title}}</h2>
{{ page.date | date_to_string }}

{{content}}

<br>

<div>
  <h2>Wish to comment?</h2>
  <span>
    You can discuss this post on Twitter or elsewhere with a permalink.
  </span>
  <p>
    I'm on Twitter as <a class="meta" href="https://twitter.com/nikosbaxevanis">@nikosbaxevanis</a>.
    I check my Twitter mentions pretty regularly. That's the best way to contact me.
  </p>
</div>
